flows.json
[{"id":"ef08b5ad.e2a7f8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"8aa6ccd6.1bd9f","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"2ce5bb2b.d1a744","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"52759616.c0e7e8","type":"ibmiot","name":"ibmiot1","keepalive":"5","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c04e7a80.a4f788","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2ef86c01.b47d34","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9827c348.9c753","type":"ui_group","name":"cold storage","tab":"c04e7a80.a4f788","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"ef08b5ad.e2a7f8","name":"Good morning","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","x":131,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"ef08b5ad.e2a7f8","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"52cf3fd7.e2a05","type":"debug","z":"8aa6ccd6.1bd9f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"48e8a122.2d7f7","type":"ibmiot in","z":"8aa6ccd6.1bd9f","authentication":"apiKey","apiKey":"52759616.c0e7e8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":180,"wires":[["52cf3fd7.e2a05","5d959304.cdb64c","15be36c3.4d1059","417d2f84.5473d"]]},{"id":"417d2f84.5473d","type":"function","z":"8aa6ccd6.1bd9f","name":" object temperature","func":"global.set('objecttemp',msg.payload.d.objecttemp)\nreturn {payload:msg.payload.d.objecttemp}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":440,"wires":[["52cf3fd7.e2a05","849ca524.c83f08"]]},{"id":"15be36c3.4d1059","type":"function","z":"8aa6ccd6.1bd9f","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":1,"initialize":"global.set('humidity'.msg.payload.d.humidity)\nreturn{payload.msg.payload.d.humidity}","finalize":"","x":400,"y":360,"wires":[["52cf3fd7.e2a05","a1ebca86.071828"]]},{"id":"5d959304.cdb64c","type":"function","z":"8aa6ccd6.1bd9f","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":280,"wires":[["52cf3fd7.e2a05","b7510908.e085e8"]]},{"id":"b7510908.e085e8","type":"ui_gauge","z":"8aa6ccd6.1bd9f","name":"temperature","group":"9827c348.9c753","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":260,"wires":[]},{"id":"a1ebca86.071828","type":"ui_gauge","z":"8aa6ccd6.1bd9f","name":"humidity","group":"9827c348.9c753","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":360,"wires":[]},{"id":"849ca524.c83f08","type":"ui_gauge","z":"8aa6ccd6.1bd9f","name":"object temperature","group":"9827c348.9c753","order":2,"width":0,"height":0,"gtype":"gage","title":"object temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":420,"wires":[]},{"id":"bd42ba47.f2e948","type":"http in","z":"8aa6ccd6.1bd9f","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":560,"wires":[["9a8aec46.9ba2d"]]},{"id":"ef8a72d.3eafa9","type":"http response","z":"8aa6ccd6.1bd9f","name":"","statusCode":"","headers":{},"x":650,"y":560,"wires":[]},{"id":"9a8aec46.9ba2d","type":"function","z":"8aa6ccd6.1bd9f","name":"httpresponse","func":"msg.payload={\"temperature\":global.get('temprature'),\"humidity\":global.get('humidity'),\"objecttempe\":global.get('objecttempe')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":660,"wires":[["ef8a72d.3eafa9"]]},{"id":"e640d92a.c21368","type":"ui_button","z":"8aa6ccd6.1bd9f","name":"on","group":"9827c348.9c753","order":3,"width":0,"height":0,"passthru":false,"label":"on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"on\"}","payloadType":"json","topic":"","x":171,"y":780,"wires":[["fc230b7e.ea94b8","7d74a50b.f03a4c"]]},{"id":"518bda7d.ebf094","type":"ui_button","z":"8aa6ccd6.1bd9f","name":"off","group":"9827c348.9c753","order":4,"width":0,"height":0,"passthru":false,"label":"off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"off\"}","payloadType":"json","topic":"","x":180,"y":880,"wires":[["fc230b7e.ea94b8","7d74a50b.f03a4c"]]},{"id":"fc230b7e.ea94b8","type":"debug","z":"8aa6ccd6.1bd9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":820,"wires":[]},{"id":"a0ee517a.c0ea3","type":"http in","z":"8aa6ccd6.1bd9f","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1000,"wires":[["8172225e.12e27"]]},{"id":"738c0e5f.03391","type":"http response","z":"8aa6ccd6.1bd9f","name":"","statusCode":"","headers":{},"x":650,"y":1020,"wires":[]},{"id":"8172225e.12e27","type":"function","z":"8aa6ccd6.1bd9f","name":"commands","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1020,"wires":[["738c0e5f.03391","7400a352.9ac40c","7d74a50b.f03a4c"]]},{"id":"7400a352.9ac40c","type":"debug","z":"8aa6ccd6.1bd9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":1100,"wires":[]},{"id":"7d74a50b.f03a4c","type":"ibmiot out","z":"8aa6ccd6.1bd9f","authentication":"apiKey","apiKey":"52759616.c0e7e8","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"cold","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":1200,"wires":[]},{"id":"ba19c906.4700c8","type":"watson-text-to-speech","z":"2ce5bb2b.d1a744","name":"","lang":"en-US","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","password":"","apikey":"ts89j5bMBWLYT6VScb2J7JVLEnsM0Bi5yvo1L3pVKSqv","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/229c9936-726f-4a8e-9f6b-9a5b5cebf9a4","x":380,"y":220,"wires":[["c37f7da2.43834"]]},{"id":"75c04ed0.83ab1","type":"inject","z":"2ce5bb2b.d1a744","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello how are you","payloadType":"str","x":130,"y":140,"wires":[["ba19c906.4700c8"]]},{"id":"c37f7da2.43834","type":"play audio","z":"2ce5bb2b.d1a744","name":"","voice":"3","x":640,"y":220,"wires":[]},{"id":"ca69403e.8e618","type":"watson-speech-to-text","z":"2ce5bb2b.d1a744","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"izKXL1fCRj2lTqS5RaxzuTETZwMK1yKGFaL1pgENE1Z8","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/179661be-e3fe-4209-bf77-46df2ba958ab","x":390,"y":340,"wires":[["f82466d4.811ea8"]]},{"id":"f6d8f11a.87743","type":"microphone","z":"2ce5bb2b.d1a744","name":"","x":150,"y":300,"wires":[["ca69403e.8e618"]]},{"id":"f82466d4.811ea8","type":"debug","z":"2ce5bb2b.d1a744","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":340,"wires":[]},{"id":"bbe570b8.aa24c","type":"visual-recognition-v3","z":"2ce5bb2b.d1a744","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/e044d143-624b-49a0-80ee-a1762bb31de7","image-feature":"classifyImage","lang":"en","x":440,"y":460,"wires":[["7b333077.305a4"]]},{"id":"fb83a67d.4806d8","type":"camera","z":"2ce5bb2b.d1a744","name":"","x":150,"y":420,"wires":[["bbe570b8.aa24c"]]},{"id":"7b333077.305a4","type":"debug","z":"2ce5bb2b.d1a744","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":460,"wires":[]}]